In [1]:
import pandas as pd
import itertools

In [83]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/409319/test1_completed.csv')

In [84]:
df.head()

      id            Товар  Количество
0  17119            Лимон         1.1
1  17119  Лимон оранжевый         0.7
2  17119        Лук-порей        10.0
3  17119     Лук репчатый         2.5
4  17119    Малина свежая         1.0

In [4]:
id = df.id.unique() #берем все уникальные id заказов
results = []
for i in id:
    a = df[df.id == i]['Товар'].to_list() #вытаскиваем все товары из каждого заказа
    a.sort() #сортируем по названию, чтобы исключить повторяющиеся пары
    b = list(itertools.combinations(a, 2)) #создаем список из всех комбинаций товаров в каждом конкретном заказе
    for elem in b:
        results.append(elem) #записываем в список

In [60]:
S = {}
for elem in results:
    S[elem] = S.get(elem, 0) + 1 #создаем словарь и записываем в него все уникальные пары и считаем их количество

In [67]:
sort_orders = sorted(S.items(), key=lambda x: x[1], reverse=True) #сортируем словарь по убыванию встречаемости пар

In [79]:
data = pd.DataFrame.from_dict(sort_orders)
data.columns = ['Пары', 'Встречаемость'] #делаем из словаря DataFrame для наглядности представления информации

In [81]:
data.head(5) #выводим top 5

                           Пары  Встречаемость
0    (Огурцы Луховицкие, Укроп)            431
1             (Петрушка, Укроп)            408
2    (Арбуз, Огурцы Луховицкие)            345
3  (Кабачки, Огурцы Луховицкие)            326
4                (Кинза, Укроп)            303